*~
*#
alvarCode/bin/
alvarCode/lib/
alvarCode/build/

# Object Files #
################
*.o

# cmake files #
###############
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
